@import '_reset';
@import '_breakpoints';

@import '_navbar';

body{
  font-family: $cabin;
  font-size: 2rem;
}

.grid{
  display: grid;

  grid-template-columns:
          [full-start]
          minmax(4rem, 1fr)
          [wide-start]
          minmax(0, 30rem)
          [content-start]
          minmax(auto, 80rem)
          [content-end]
          minmax(0, 30rem)
          [wide-end]
          minmax(4rem, 1fr)
          [full-end];

  @media screen and (max-width: $break-small){
    grid-template-columns:
            [full-start]
            4rem
            [wide-start] 0
            [content-start]
            calc(100% - 8rem)
            [content-end] 0
            [wide-end]
            4rem
            [full-end];
  }

}

.wide{
  grid-column: wide;
}

section.dark{
  color: white;
  background-color: $black;
}






.footer {
  background-color: $primary;
  padding-top: 10rem;
  padding-bottom: 5rem;

  .footer_navbar {
    font-family: $lekton;

    padding: 2rem 0;
    grid-column: wide;

    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

    @media screen and (max-width: $break-small) {
      grid-column: full;
      flex-direction: column;
    }

    .brand {
      display: flex;
      align-items: center;

      float: left;
      font-family: $cabin;
      font-size: 4rem;
      color: black;
      font-weight: bold;

      .logo{
        width: 7rem;
        height: 7rem;
        position: relative;
        top: -4px;

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/img/logo_black.png);
      }
      .tripleu:before {
        content: 'w';
        margin-right: -1.8rem;
      }
    }
    .links{
      float: right;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: $break-small) {
       flex-direction: column
      }
      a{
        text-decoration: none;
        font-weight: bold;
        font-family: $lekton;
        color: black;
        font-size: 2rem;

      }
    }
  }
}


/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}