@import 'reset';
@import 'style_guide';
@import 'breakpoints';
@import 'navbar';

body{
  font-family: $cabin;
  font-size: 2rem;
}

main{
  margin-top: 90px;
}

.no-touching{
  pointer-events: none;
}

.grid{
  display: grid;

  grid-template-columns:
          [full-start]
          minmax(4rem, 1fr)
          [wide-start]
          minmax(0, 15rem)
          [content-start]
          minmax(auto, 80rem)
          [content-end]
          minmax(0, 15rem)
          [wide-end]
          minmax(4rem, 1fr)
          [full-end];

  @media screen and (max-width: $break-small){
    grid-template-columns:
            [full-start]
            4rem
            [wide-start] 0
            [content-start]
            calc(100% - 8rem)
            [content-end] 0
            [wide-end]
            4rem
            [full-end];
  }

}

.wide{
  grid-column: wide;
}

.transparent{
  opacity: 0;
}
.fade_in{
  opacity: 1;
  transition: opacity .3s;
}


.expando{
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height:calc(100vh - 90px);
  &>*:not(.exoando-spacer){
    flex-grow:0;
  }
  .expando-spacer{
    flex-grow: 1;
  }
}
section.page_footer{
  background-color: $black;
  border-top: .6rem solid $primary;
  border-top: .6rem solid var(--primary, $primary);
  padding-top: 2rem;
  padding-bottom: 2rem;

  footer{
    grid-column: wide;

    .brand {
      display: flex;
      align-items: center;
      float: left;
      font-family: $cabin;
      font-size: 2.5rem;
      color: $white;
      font-weight: bold;

      .logo{
        width: 5rem;
        height: 4rem;
        position: relative;
        top: -4px;

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/img/logo_white.png);
      }
      .tripleu:before {
        content: 'w';
        margin-right: -0.43em;
      }
    }
    .links{
      float: right;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: $break-small) {
       flex-direction: column
      }
      a{
        text-decoration: none;
        font-weight: bold;
        font-family: $lekton;
        color: $white;
        font-size: 2rem;
      }
    }
  }
}

section.share{
  background-color: $white;
  .cta{
    margin-top: 7rem;
    margin-bottom: 7rem;
    padding-top: 2rem;
    grid-column:wide;
    width: 50%;
    @media screen and (max-width: $break-small) {
      width: 100%;
    }
    p{
      margin-bottom: 4rem;
      margin-top: 2.5rem;
    }

  }
}


.md-only{
  @include sm(){
    display: none !important;
  }
}
.sm-only{
  @include md(){
    display: none !important;
  }
}


@keyframes scroll-loop {
  0%   {background-position-x: 0;}
  10%   {background-position-x: 0;}
  90%  {background-position-x: 100%;}
  100%  {background-position-x: 100%;}
}


/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face{
  font-family:'FontAwesome';
  src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;  font-style:normal}


.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.fa-linkedin-square:before{content:"\f08c"}
.fa-twitter-square:before{content:"\f081"}
.fa-facebook-square:before{content:"\f082"}
.fa-youtube-square:before{content:"\f166"}
.fa-youtube:before{content:"\f167"}
.fa-youtube-play:before{content:"\f16a"}
.fa-stack-overflow:before{content:"\f16c"}
.fa-instagram:before{content:"\f16d"}
.fa-flickr:before{content:"\f16e"}
.fa-linkedin-square:before{content:"\f08c"}
.fa-github-alt:before{content:"\f113"}
.fa-github-square:before{content:"\f092"}
.fa-github:before{content:"\f09b"}
.fa-gitlab:before{content:"\f296"}
.fa-git-square:before{content:"\f1d2"}
.fa-git:before{content:"\f1d3"}
.fa-bitbucket:before{content:"\f171"}
.fa-bitbucket-square:before{content:"\f172"}
.fa-tumblr:before{content:"\f173"}
.fa-tumblr-square:before{content:"\f174"}
.fa-apple:before{content:"\f179"}
.fa-windows:before{content:"\f17a"}
.fa-android:before{content:"\f17b"}
.fa-linux:before{content:"\f17c"}
.fa-dribbble:before{content:"\f17d"}
.fa-foursquare:before{content:"\f180"}
.fa-bandcamp:before{content:"\f2d5"}
.fa-snapchat:before{content:"\f2ab"}
.fa-snapchat-ghost:before{content:"\f2ac"}
.fa-snapchat-square:before{content:"\f2ad"}
.fa-vimeo:before{content:"\f27d"}
.fa-twitch:before{content:"\f1e8"}
.fa-yelp:before{content:"\f1e9"}
.fa-yahoo:before{content:"\f19e"}
.fa-google:before{content:"\f1a0"}
.fa-reddit:before{content:"\f1a1"}
.fa-reddit-square:before{content:"\f1a2"}
.fa-stumbleupon-circle:before{content:"\f1a3"}
.fa-stumbleupon:before{content:"\f1a4"}
.fa-delicious:before{content:"\f1a5"}
.fa-digg:before{content:"\f1a6"}
.fa-pied-piper-pp:before{content:"\f1a7"}
.fa-pied-piper-alt:before{content:"\f1a8"}
.fa-trello:before{content:"\f181"}
.fa-skype:before{content:"\f17e"}
.fa-google-plus-square:before{content:"\f0d4"}
.fa-google-plus:before{content:"\f0d5"}
.fa-pinterest:before{content:"\f0d2"}
.fa-pinterest-square:before{content:"\f0d3"}
.fa-twitter:before{content:"\f099"}
.fa-facebook-official:before{content:"\f230"}
.fa-facebook-square:before{content:"\f082"}
.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}
.fa-linkedin:before{content:"\f0e1"}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}
