$primary: #F2CC24;
$black: #050505;
$white: #FFF;
$grey: #8b8b8b;
$faded-text: #84848414;

$lekton: 'Lekton', sans-serif;
$cabin: 'Cabin', sans-serif;
$baskerville: 'Libre Baskerville', serif;

$break-small:900px;
$break-medium:1100px;


h1{
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: $baskerville;
  font-weight: bold;
}

h2{
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: $baskerville;
  font-weight: normal;
  margin-top: 10rem;
  margin-bottom: 5rem;
  + figure {
    margin-top: -2rem !important;
  }
}

p{
  font-family: $cabin;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  article &{
    font-family: $cabin;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 3.8rem;
    letter-spacing: 0.6px;
  }
}

blockquote{
  font-family: $lekton;
  font-size: 1.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.5px;
  text-align: center;
  footer{
    font-family: $cabin;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2px;
  }
}

.caption, figcaption{
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-family: $lekton;
}

a{
  font-family: $lekton;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  letter-spacing: 0.2px;
  .dark &{
    color: white;
  }
  &.primary{
    color: $primary;
  }
  article &{
    font-family: $cabin;
    letter-spacing: 0.6px;
    font-size: 1.9rem;
    line-height: 3.8rem;
  }
}

.dark{
  background-color: black;
  color: white;
  a{
    color: white;
    &.primary{
      color: $primary;
    }
  }
}

.primary{
  color: $primary;
}
.primary_bg{
  background-color: $primary;
}