@import'vars';
@import'breakpoints';

@keyframes slide_in {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_in_half {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.slide_in, .fade_in, .fade_in_half{
  animation-duration: 750ms;
  animation-timing-function: ease-out;
  animation-delay: 500ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
}

.slide_in{
  animation-name: slide_in;
}
.fade_in{
  animation-name: fade_in;
}
.fade_in_half{
  animation-name: fade_in_half;
}


hr{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $white;
  border-top: none;
  & .light{
    border-bottom-color: $black;
  }
}

.pill_button{
  cursor: pointer;
  border-radius: 20px;
  background-color: $black;
  border: 1px solid $primary_faded;
  transition: border-color .2s, background .1s linear .2s, color .1s linear .2s;
  color: $white;
  font-family: $cabin;
  margin-right: 2rem;
  margin-bottom: 1rem;
  padding: .5rem 1.6rem;
  font-size: 1.5rem;
  font-weight: normal;

  &:hover{
    border-color: $primary;
    border-color: var(--primary, $primary);
  }
  &.active {
    color: $black;
    background-color: $primary;
    background-color: var(--primary, $primary);
    border: 1px solid $primary;
    border: 1px solid var(--primary, $primary);
    font-weight: normal;
    .ripple{
      transform: scale(1);
      opacity: 0;
    }
  }
}

.pill_button_ripple{
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  .ripple{
    display: block;
    height: 200px;
    width: 200px;
    background-color: $primary;
    background-color: var(--primary, #6df29c);
    position: absolute;
    top: -93px;
    left: -8px;
    opacity: 1;
    transform: scale(0);
    transition: transform .3s, border .3s, opacity .3s linear .2s;
    border-radius: 100%;
    pointer-events:none;
  }
}

body{
  background-color: $white;
}

h1, h1>a{
  font-size: 3.5rem;
  line-height: 4rem;
  @include sm(){
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  font-family: $baskerville;
  font-weight: bold;
  text-decoration: none;

  .large_text &{
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .small_text &{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

}


h2, h2>a{
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: $baskerville;
  font-weight: normal;
  margin-top: 6rem;
  margin-bottom: 1rem;

  @include sm(){
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  &.tight{
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  &.tighter{
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  text-decoration: none;
  + figure {
    margin-top: -2rem !important;
  }

  .large_text &{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .small_text &{
    font-size: 2rem;
    line-height: 2rem;
  }
}

h3, h3>a{
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  line-height: 2.5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  &.tight{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  &.tighter{
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  .large_text &{
    font-size: 3rem;
    line-height: 3rem;
  }
  .small_text &{
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

p{
  font-family: $cabin;
  font-weight: normal;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  line-height: 2rem;
  article &{
    font-family: $cabin;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 3.8rem;
    @include sm(){
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
    letter-spacing: 0.6px;
  }
  .large_text &, .large_text article &{
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 1.5px;
    word-spacing: 4px;
  }
  .small_text &{
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

.fancy_border{
  background-image: url(/img/topo_pattern.svg);
  height: 3rem;
  background-size: 25rem;
  grid-column: full;
}

blockquote{
  font-family: $lekton;
  font-size: 1.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.5px;
  text-align: center;
  footer{
    font-family: $cabin;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2px;
    .large_text &{
      font-size: 2.5rem;
      line-height: 3rem;
    }
    .small_text &{
      font-size: 1.3rem;
      line-height: 1.6rem;
    }
  }
  .large_text &{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .small_text &{
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

.caption, figcaption{
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.4px;
  font-family: $lekton;
  font-weight: normal;
  &.light{
    font-weight: 100;
  }
  .large_text &{
  font-size: 2.5rem;
  line-height: 3rem;
}
  .small_text &{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

a{
  font-family: $lekton;
  font-weight: bold;
  font-size: 1.5rem;
  color: $black;
  letter-spacing: 0.2px;
  .dark &{
    color: $white;
  }
  article &{
    font-family: $cabin;
    letter-spacing: 0.6px;
    font-size: 1.9rem;
    line-height: 3.8rem;
    @include sm(){
      font-size: 1.6rem;
      line-height: 2.5rem;
    }

    .large_text &{
      font-size: 2.5rem;
      line-height: 3rem;
    }
    .small_text &{
      font-size: 1.3rem;
      line-height: 1.6rem;
    }

  }

}

.primary_button{
  font-family: $cabin;
  background-color: $primary;
  background-color: var(--primary, $primary);
  transition: background-color 0.5s ease;
  &:hover{
    background-color: $primary_lighten;
    background-color: var(--primary_lighten, $primary_lighten);

  }
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 100rem;
  white-space: nowrap;

  &.accent{
    background-color: $accent;
    &:hover{
      background-color: lighten($accent, 10);
    }
  }
  &.white{
    background-color: $white;
    &:hover{
      background-color: white;
    }
  }

  .dark &{
    color: $black;
  }
}
button.primary_button{
  border: none;
  cursor: pointer;
}

.dark{
  background-color: $black;
  color: $white;
  a{
    color: $white;
  }
}

section.accent{
  background-color: $accent;
}

@import 'svg_encode';

@function icon_search($fill-color){
  @return svg-encode('<svg xmlns="http://www.w3.org/2000/svg" width="24" \
  height="24" viewBox="0 0 24 24"><path fill="' + $fill-color + '" d="M23.809 \
  21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 \
  0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 \
  6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 \
  6.877c-3.793 0-6.877-3.085-6.877-6.877z"/></svg>');
}

@function icon_arrow($fill-color){
  @return svg-encode('<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" \
    x="0px" y="0px" viewBox="0 0 31.49 31.49" style="" xml:space="preserve"> \
    <path fill="' + $fill-color + '" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 \
      C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 \
      c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/> \
    </svg>')
}
@function topo($fill-color){
  @return svg-encode('<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" \
    x="0px" y="0px" viewBox="0 0 31.49 31.49" style="" xml:space="preserve"> \
    <path fill="' + $fill-color + '" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 \
      C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 \
      c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/> \
    </svg>')
}

i.arrow{
  display: inline-block;
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  background: url(icon_arrow($white)) no-repeat;
  &.primary{background: url(icon_arrow($primary)) no-repeat;}
  &.black{background: url(icon_arrow($black)) no-repeat;}
  &.disabled{background: url(icon_arrow($grey)) no-repeat;}

  &.left{
    transform: scaleX(-1);
  }

}


.primary{
  color: $primary !important;
  color:  var(--primary, $primary) !important;
}

.primary_bg{
  background-color: $primary;
  background-color: var(--primary, $primary);
}

.js-focus-visible *:focus:not(.focus-visible) {
  outline: 0 !important;
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input{
  font-family: $cabin;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  line-height: 2rem;
}

.input-container.search{
  background-color: $white;
  &:focus-within{
    .icon{
      background: url(icon_search($primary)) no-repeat;
      background-position-y: center;
      background-position-x: 1rem;
      background-size: 1.5rem;
    }
  }
  width: 25rem;
  border-radius: 40rem;
  border: 1px solid $black;


  label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
    .icon{
      display: inline-block;
      width: 3rem;
      height: 2rem;
      background: url(icon_search($black)) no-repeat;
      background-position-y: center;
      background-position-x: 1rem;
      background-size: 1.5rem;
      flex: 0 1 auto;
    }


    input{
      flex: 1;
      padding: 1rem;
      border: none;
      background-color: transparent !important;
      width: 100%;
      &:focus{
        outline: 0 !important;
      }
    }
  }

}

.hover_color{
  transition: color 0.25s ease;
  .hover_trigger:hover &, a:hover &{
    color: $primary;
    color: var(--primary, $primary);
  }
}
.hover_underline{
  text-decoration: underline;
  transition: text-decoration-color 0.5s ease;
  text-decoration-color: $white;
  .dark &{
    text-decoration-color: $black;
  }
  .hover_trigger:hover &, a:hover &{
    text-decoration-color: $primary;
    text-decoration-color: var(--primary, $primary);
  }
}
.hover_border, .hover_border_tight {
  transition: box-shadow 0.25s cubic-bezier(0, 0.34, 0.58, 1);
  box-shadow: 0 0 0 0 $primary inset;
  box-shadow: 0 0 0 0 var(--primary, $primary) inset;
}
.hover_border{
  .hover_trigger:hover &, a:hover &{
    box-shadow: 0 0 0 14px $primary inset;
    box-shadow: 0 0 0 14px var(--primary, $primary) inset;

  }
}
.hover_border_tight{
  .hover_trigger:hover &, a:hover &{
    box-shadow: 0 0 0 4px $primary inset;
    box-shadow: 0 0 0 4px var(--primary, $primary) inset;

  }
}