$primary: #6df29c;
$primary_darker: darken(#6df29c, 10);
$primary_lighten: lighten(#6df29c, 10);

:root{
  --primary: #{$primary};
  --primary_lighten: #{$primary_lighten};
}

$primary_faded: darken($primary, 10);
$primary_transparent: #F2CC2400;
$black: #071112;
$white: #f8f8f5;
$accent: #fecc3b;
$grey: #8b8b8b;
$faded-text: #84848414;

$lekton: 'Lekton', sans-serif;
$cabin: 'Cabin', sans-serif;
$baskerville: 'Libre Baskerville', serif;
$flecha: 'Flecha M Medium', 'Libre Baskerville', serif;

$break-small:900px;
$break-medium:1100px;

