/* CSS Mini Reset */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem; }

body, div, form, fieldset, legend, label, blockquote {
  font-size: inherit;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.3rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal;
  margin: 0; }

img {
  border: 0; }

.clearfix {
  clear: both; }

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: bold; }

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  margin-top: 10rem;
  margin-bottom: 5rem; }
  h2 + figure {
    margin-top: -2rem !important; }

p {
  font-family: "Cabin", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .05rem; }
  article p {
    font-family: "Cabin", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 3.8rem;
    letter-spacing: 0.6px; }

blockquote {
  font-family: "Lekton", sans-serif;
  font-size: 1.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.5px;
  text-align: center; }
  blockquote footer {
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2px; }

.caption, figcaption {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-family: "Lekton", sans-serif; }

a {
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  letter-spacing: 0.2px; }
  .dark a {
    color: white; }
  a.primary {
    color: #F2CC24; }
  article a {
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.6px;
    font-size: 1.9rem;
    line-height: 3.8rem; }

.dark {
  background-color: black;
  color: white; }
  .dark a {
    color: white; }
    .dark a.primary {
      color: #F2CC24; }

.primary {
  color: #F2CC24; }

.primary_bg {
  background-color: #F2CC24; }

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: bold; }

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  margin-top: 10rem;
  margin-bottom: 5rem; }
  h2 + figure {
    margin-top: -2rem !important; }

p {
  font-family: "Cabin", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .05rem; }
  article p {
    font-family: "Cabin", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 3.8rem;
    letter-spacing: 0.6px; }

blockquote {
  font-family: "Lekton", sans-serif;
  font-size: 1.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.5px;
  text-align: center; }
  blockquote footer {
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2px; }

.caption, figcaption {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-family: "Lekton", sans-serif; }

a {
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  letter-spacing: 0.2px; }
  .dark a {
    color: white; }
  a.primary {
    color: #F2CC24; }
  article a {
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.6px;
    font-size: 1.9rem;
    line-height: 3.8rem; }

.dark {
  background-color: black;
  color: white; }
  .dark a {
    color: white; }
    .dark a.primary {
      color: #F2CC24; }

.primary {
  color: #F2CC24; }

.primary_bg {
  background-color: #F2CC24; }

#brand {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 5rem;
  height: 5rem;
  z-index: 10;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/sb_logo.png);
  border-radius: 5rem; }
  #brand.focus-visible:focus {
    background-color: #84848414;
    outline: none; }

.menu_toggle {
  border-radius: 5rem;
  height: 5rem;
  width: 5rem;
  display: block;
  background: none;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 10; }
  @media (min-width: 768px) {
    .menu_toggle {
      display: none; } }
  .menu_toggle:focus {
    outline: 0; }
  .menu_toggle.focus-visible:focus {
    background-color: #84848414; }
  .menu_toggle .elements {
    display: block;
    width: 40px;
    height: 1px;
    background-color: white;
    position: relative;
    transition: transform .2s ease, background-color .2s ease; }
    .menu_toggle .elements:before, .menu_toggle .elements:after {
      display: block;
      content: '';
      width: 40px;
      height: 1px;
      background-color: white;
      position: relative;
      transition: transform .2s ease, background-color .2s ease; }
    .menu_toggle .elements:after {
      top: 8px; }
    .menu_toggle .elements:before {
      top: -10px; }
  .menu_toggle.menu_open .elements {
    transform: rotate(-39deg) translate(-2px, -1px); }
    .menu_toggle.menu_open .elements:before {
      transform: rotate(0deg) translate(0px, 10px); }
    .menu_toggle.menu_open .elements:after {
      transform: rotate(75deg) translate(-8px, -3px); }

header.navbar {
  font-size: 2rem;
  font-family: "Cabin", sans-serif;
  background-color: #050505; }
  header.navbar #mobile_menu {
    position: relative;
    will-change: margin, transform;
    transition: margin 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975), opacity 0.55s cubic-bezier(0.385, 0.005, 0.215, 0.975), transform 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975);
    opacity: 1;
    margin-top: -33rem;
    z-index: 0;
    padding-top: 1em;
    grid-column: wide; }
    header.navbar #mobile_menu ul {
      list-style: none; }
      header.navbar #mobile_menu ul li {
        display: flex;
        justify-content: center; }
        header.navbar #mobile_menu ul li a {
          color: white;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          padding: 3px;
          line-height: 1.7rem;
          border-bottom: 1px solid white;
          margin-bottom: 1.3rem; }
          header.navbar #mobile_menu ul li a:focus {
            outline: 0;
            border-bottom-color: #F2CC24; }
    header.navbar #mobile_menu.menu_open {
      transition: margin 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975), opacity 0.55s cubic-bezier(0.385, 0.005, 0.215, 0.975), transform 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975);
      margin-top: -11rem;
      opacity: 1;
      transform: translateY(9rem); }
      @media (min-width: 768px) {
        header.navbar #mobile_menu.menu_open {
          margin-top: -35rem; } }
  header.navbar nav#top_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Lekton", sans-serif;
    background-color: #050505;
    color: #8b8b8b;
    grid-column: full;
    height: 5rem;
    padding: 2rem 3rem; }
    @media (min-width: 768px) {
      header.navbar nav#top_menu {
        padding: 2rem 0;
        grid-column: wide; } }
    header.navbar nav#top_menu ul.links {
      display: none;
      list-style: none; }
      @media (min-width: 768px) {
        header.navbar nav#top_menu ul.links {
          display: inline-block; } }
      header.navbar nav#top_menu ul.links li {
        display: inline-block; }
      header.navbar nav#top_menu ul.links a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #8b8b8b;
        margin-left: 4.5rem;
        white-space: nowrap;
        transition: margin-right .3s ease; }
        @media screen and (max-width: 1100px) {
          header.navbar nav#top_menu ul.links a {
            margin-left: 1.7rem; } }
        header.navbar nav#top_menu ul.links a.active {
          color: white;
          border-bottom: 2px solid #F2CC24; }
        header.navbar nav#top_menu ul.links a.solid {
          font-weight: bold;
          padding: .3rem 1.4rem;
          background-color: #F2CC24;
          color: black;
          border-radius: 3rem; }

body {
  font-family: "Cabin", sans-serif;
  font-size: 2rem; }

.js-focus-visible *:focus:not(.focus-visible) {
  outline: none !important; }

.grid {
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [wide-start] minmax(0, 15rem) [content-start] minmax(auto, 80rem) [content-end] minmax(0, 15rem) [wide-end] minmax(4rem, 1fr) [full-end]; }
  @media screen and (max-width: 900px) {
    .grid {
      grid-template-columns: [full-start] 4rem [wide-start] 0 [content-start] calc(100% - 8rem) [content-end] 0 [wide-end] 4rem [full-end]; } }

.wide {
  grid-column: wide; }

.page_footer {
  background-color: #F2CC24;
  padding-top: 10rem;
  padding-bottom: 5rem; }
  .page_footer .footer_navbar {
    font-family: "Lekton", sans-serif;
    padding: 2rem 0;
    grid-column: wide;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 900px) {
      .page_footer .footer_navbar {
        grid-column: full;
        flex-direction: column; } }
    .page_footer .footer_navbar .brand {
      display: flex;
      align-items: center;
      float: left;
      font-family: "Cabin", sans-serif;
      font-size: 4rem;
      color: #050505;
      font-weight: bold; }
      .page_footer .footer_navbar .brand .logo {
        width: 7rem;
        height: 7rem;
        position: relative;
        top: -4px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/img/logo_black.png); }
      .page_footer .footer_navbar .brand .tripleu:before {
        content: 'w';
        margin-right: -1.8rem; }
    .page_footer .footer_navbar .links {
      float: right;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media screen and (max-width: 900px) {
        .page_footer .footer_navbar .links {
          flex-direction: column; } }
      .page_footer .footer_navbar .links a {
        text-decoration: none;
        font-weight: bold;
        font-family: "Lekton", sans-serif;
        color: #050505;
        font-size: 2rem; }

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: bold; }

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  margin-top: 10rem;
  margin-bottom: 5rem; }
  h2 + figure {
    margin-top: -2rem !important; }

p {
  font-family: "Cabin", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .05rem; }
  article p {
    font-family: "Cabin", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 3.8rem;
    letter-spacing: 0.6px; }

blockquote {
  font-family: "Lekton", sans-serif;
  font-size: 1.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.5px;
  text-align: center; }
  blockquote footer {
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2px; }

.caption, figcaption {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-family: "Lekton", sans-serif; }

a {
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  letter-spacing: 0.2px; }
  .dark a {
    color: white; }
  a.primary {
    color: #F2CC24; }
  article a {
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.6px;
    font-size: 1.9rem;
    line-height: 3.8rem; }

.dark {
  background-color: black;
  color: white; }
  .dark a {
    color: white; }
    .dark a.primary {
      color: #F2CC24; }

.primary {
  color: #F2CC24; }

.primary_bg {
  background-color: #F2CC24; }

.head {
  background-color: #050505;
  font-family: "Cabin", sans-serif;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .5px; }
  .head .title_block {
    grid-column: wide;
    margin: 7rem 10rem 2rem; }
    @media screen and (max-width: 900px) {
      .head .title_block {
        margin: 6rem 1rem 1rem; } }
    .head .title_block .caption {
      margin-top: 0.5rem; }
    .head .title_block .author_block {
      margin: 3rem 0 4rem;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .head .title_block .author_block .image {
        display: inline-block;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 10rem;
        background-size: cover;
        background-position: center; }
      .head .title_block .author_block .info {
        margin-left: 2rem;
        display: inline-block; }
        .head .title_block .author_block .info div {
          margin-top: .3rem;
          margin-bottom: .3rem; }
        .head .title_block .author_block .info a {
          color: white;
          text-decoration: none;
          font-family: "Cabin", sans-serif;
          letter-spacing: 0.6px;
          font-size: 1.5rem; }
  .head .heroImage {
    grid-column: full;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 100%; }

.article_info {
  grid-column: wide;
  margin: 14rem 10rem 2rem; }
  .article_info .left {
    display: inline-block;
    width: 40%;
    float: left; }
  .article_info .blurb {
    line-height: 2rem;
    letter-spacing: .1rem;
    font-family: "Cabin", sans-serif; }
    .article_info .blurb.bottom_spaced {
      margin-bottom: 10rem;
      font-size: 2rem;
      line-height: 3rem; }
  .article_info .center {
    display: block;
    max-width: 50rem;
    margin: 0 auto;
    text-align: justify;
    line-height: 3.5rem; }
  .article_info .chapters {
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: max-content;
    font-family: "Lekton", sans-serif; }
    .article_info .chapters .title {
      width: max-content;
      font-weight: bold;
      margin-bottom: 2rem; }
    .article_info .chapters .chapter-nav {
      margin: 0 auto;
      width: max-content; }
    .article_info .chapters a, .article_info .chapters span {
      text-decoration: none;
      color: #F2CC24;
      margin: 0 auto;
      width: max-content; }
      .article_info .chapters a.disabled, .article_info .chapters span.disabled {
        color: grey; }
      .article_info .chapters a:last-child, .article_info .chapters span:last-child {
        margin-right: 2rem; }
      .article_info .chapters a:first-child(2), .article_info .chapters span:first-child(2) {
        margin-left: 2rem; }
    .article_info .chapters a:disabled {
      color: #8b8b8b; }
  .article_info .right {
    display: inline-block;
    width: 55%;
    float: right; }
  .article_info .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    font-family: "Lekton", sans-serif; }
    .article_info .stats .stat_block {
      width: 22%;
      padding-left: 2%;
      font-size: 1em;
      margin-bottom: 3rem; }
      .article_info .stats .stat_block .title {
        font-size: 1em; }

.story {
  font-family: "Cabin", sans-serif;
  line-height: 4rem;
  padding-top: 8rem;
  margin: 0;
  overflow-x: hidden;
  font-size: 2rem;
  margin-bottom: 10rem; }
  .story h2 + figure {
    margin-top: 2rem; }
  .story .quote {
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: "Lekton", sans-serif;
    text-align: center;
    margin: 5rem auto auto; }
    .story .quote .author {
      font-size: 1.8rem; }
  .story .caltopo_map {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    align-items: center; }
  .story .double_image {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    grid-column: wide;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
  .story .double_image img {
    flex-basis: auto;
    flex-shrink: 1;
    max-width: 49%; }
  .story figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%; }
    .story figure img, .story figure iframe {
      width: 100%; }
    .story figure iframe {
      height: 40rem; }
    .story figure figcaption.caption_under {
      align-self: start;
      margin-top: 1rem; }
    .story figure figcaption.caption_over {
      position: absolute;
      bottom: 5rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.75);
      padding-left: 2rem;
      padding-right: 2rem; }
  .story .single_image {
    display: flex;
    margin: 3rem auto;
    justify-content: center;
    align-items: center; }
  .story > * {
    grid-column: content; }
  .story > .quote {
    grid-column: wide; }
  .story .align-half {
    grid-column: wide; }
  .story .align-full {
    grid-column: full; }

.share {
  font-family: "Cabin", sans-serif;
  background-color: #F2CC24; }
  .share h1 {
    margin-top: 10rem;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 5rem; }
  .share .cta {
    grid-column: wide;
    width: 50%;
    font-size: 2rem; }
    @media screen and (max-width: 900px) {
      .share .cta {
        width: 100%; } }
    .share .cta a {
      color: black; }

.read_more {
  background-color: black;
  color: white; }
