@import 'base';
@import 'style_guide';

@keyframes scroll-loop {
  0%   {background-position-x: 0;}
  10%   {background-position-x: 0;}
  90%  {background-position-x: 100%;}
  100%  {background-position-x: 100%;}
}



.head{
  background-color: $black;
  font-family: $cabin;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .5px;

  .title_block{
    grid-column: wide;
    margin: 7rem 10rem 2rem;
    @media screen and (max-width: $break-small) {
      margin: 6rem 1rem 1rem;
    }
    .caption{
      margin-top: 0.5rem;
    }

    .author_block {
      margin: 3rem 0 4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      .image {
        display: inline-block;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 10rem;
        background-size: cover;
        background-position: center;
      }
      .info {
        margin-left: 2rem;
        display: inline-block;
        div{
          margin-top: .3rem;
          margin-bottom: .3rem;
        }
        a {
          color: white;
          text-decoration: none;
          font-family: $cabin;
          letter-spacing: 0.6px;
          font-size: 1.5rem;
        }
      }
    }
  }
  .heroImage{
    grid-column: full;
    padding-top: 56.25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center;
    width: 100%;
    //noinspection CssInvalidMediaFeature
    @include sm(){
        height: 50vh;
        padding-top: 0;
        animation-name: scroll-loop;
        animation-timing-function: ease;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      @media (prefers-reduced-motion) {
        animation-name: none;
      }
    }
  }

}
.article_info{
  grid-column: wide;
  margin: 14rem 10rem 2rem;
  .left{
    display: inline-block;
    width: 40%;
    float: left;
  }
  .blurb{
    line-height: 2rem;
    letter-spacing: .1rem;
    font-family: $cabin;
    &.bottom_spaced{
      margin-bottom: 10rem;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  .center{
    display: block;
    max-width: 50rem;
    margin: 0 auto;
    text-align: justify;
    line-height: 3.5rem;
  }
  .chapters{
    margin-top: 3rem;
    margin-bottom:5rem;
    width: max-content;
    font-family:$lekton;

    .title{
      width: max-content;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    .chapter-nav{
      margin: 0 auto;
      width: max-content;
    }
    a,span{
      text-decoration: none;
      color: $primary;
      margin: 0 auto;
      width: max-content;
      &.disabled{
        color: grey;
      }
      &:last-child{
        margin-right: 2rem;
      }
      &:first-child(2){
        margin-left: 2rem;
      }

    }
    a:disabled{
      color: $grey;
    }
  }
  .right{
    display: inline-block;
    width: 55%;
    float: right;
  }
  .stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    font-family: $lekton;
    .stat_block{
      width: 22%;
      padding-left: 2%;
      font-size:1em;
      margin-bottom: 3rem;
      .title{
        font-size: 1em;
      }
    }
  }
}

.story{
  font-family: $cabin;
  line-height: 4rem;
  padding-top: 8rem;
  margin: 0;
  overflow-x:hidden;
  font-size:2rem;
  margin-bottom: 10rem;

  h2{

    & + figure{
      margin-top: 2rem;
    }
  }

  .quote{
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: $lekton;
    text-align: center;
    margin: 5rem auto auto;
    .author{
      font-size: 1.8rem;
    }
  }

  .caltopo_map{
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    align-items:center;
  }

  .double_image{
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    grid-column:wide;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
  }

  .double_image img{
    flex-basis: auto;
    flex-shrink: 1;
    max-width: 49%;
  }

  figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    img, iframe{
      width: 100%;
    }

    iframe{
      height: 40rem;
    }

    figcaption{
      &.caption_under{
        align-self: start;
        margin-top: 1rem;
      }

      &.caption_over{
        position: absolute;
        bottom: 5rem;
        color: white;
        background-color: rgba(0,0,0,0.75);
        padding-left: 2rem;
        padding-right: 2rem;

      }
    }

  }

  .single_image{
    display: flex;
    margin: 3rem auto;
    justify-content: center;
    align-items:center;
  }

  > *{
    grid-column: content;
  }

  > .quote{
    grid-column: wide;
  }

  .align-half{
    grid-column: wide;
  }

  .align-full{
    grid-column: full;
  }
}



.read_more{
  background-color: black;
  color: white;
}