@import 'vars';

.__articles__{

  .span_full{
    grid-column: 1 / -1;
  }

  section.posts {
    flex-grow: 1;
    background: $deep_green;
    background-size: 25%;

    .heading {
      grid-column: wide;
      padding-top: 2em;
      padding-bottom: 1em;
    }

    .article_intro {
      max-width: 80rem;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: .07rem;
      line-height: 2.5rem;
      color: #d8d8d8;
    }

    #trail_log_menu {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }

    #trail_log_submenu button:last-child {
      margin-bottom: 5rem;
    }

    .read_more_stories {
      grid-column: wide;
      margin-bottom: 4rem;
      margin-top: 2rem;

      .read_more_button {
        color: black;
        background-color: $primary;
        background-color: var(--primary, $primary);
        font-weight: bold;
        border: 3px solid $primary;
        border: 3px solid var(--primary, $primary);
        text-decoration: none;
        font-family: $lekton;
        margin-right: 2rem;
        padding: 0 3rem;
        font-size: 1.7rem;
      }
    }
  }

  .article_container{
    grid-column: wide;
    display: grid;
  }

  .section_break{
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 1px solid $white;
  }
  h4.subsection_heading{
    margin-bottom: 1.5rem;
  }

  .load_more_bg{
    cursor: pointer;
    grid-column: 1/-1;
    background: linear-gradient(
      to top,
      rgba(0, 26, 17, 1) 57.5%,
      rgba(0, 26, 17, 0.825) 64.5%,
      rgba(0, 26, 17, 0.648) 70.6%,
      rgba(0, 26, 17, 0.45) 76.4%,
      rgba(0, 26, 17, 0.259) 82.4%,
      rgba(0, 26, 17, 0.104) 88.5%,
      rgba(0, 26, 17, 0.013) 96.9%,
      rgba(0, 26, 17, 0) 100%
    );
    transform: scaleX(1.02);
    position: relative;
    top: -36rem;
    margin-bottom: -35rem;
    display: flex;
    justify-content: center;
    padding-top: 16rem;
    @include sm(){
      height: 12rem;
      top: -28rem;
    }
  }
  .not_yet{
    display: none;
  }
  .load_more{
    background: $primary;
    background: var(--primary, $primary);
    height: max-content;
    padding: 0 2rem;
    color: black;
    border-radius: 4rem;
    font-family: $lekton;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
    margin:0;
  }

}
