@import 'vars';

.__articles__{
  section.posts {
    .heading {
      grid-column: wide;
      padding-top: 2em;
      padding-bottom: 1em;
    }

    .trail_log_intro {
      max-width: 80rem;
      font-size: 1.8rem;
      font-weight: 400;
    }

    #trail_log_menu {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }

    #trail_log_submenu button:last-child {
      margin-bottom: 5rem;
    }

    .read_more_stories {
      grid-column: wide;
      margin-bottom: 4rem;
      margin-top: 2rem;

      .read_more_button {
        color: black;
        background-color: $primary;
        background-color: var(--primary, $primary);
        font-weight: bold;
        border: 3px solid $primary;
        border: 3px solid var(--primary, $primary);
        text-decoration: none;
        font-family: $lekton;
        margin-right: 2rem;
        padding: 0 3rem;
        font-size: 1.7rem;
      }
    }
  }

  .article_container{
    grid-column: wide;
    display: grid;
  }

  .section_break{
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 1px solid white;
  }
  h4.subsection_heading{
    margin-bottom: 1.5rem;
  }

  .load_more_bg{
    grid-column: wide;
    background: linear-gradient(0deg, rgb(0, 0, 0) 69%, rgba(0, 0, 0, 0) 100%);
    height: 24rem;
    position: relative;
    top: -37rem;
    margin-bottom: -34rem;
    display: flex;
    justify-content: center;
    padding-top: 11rem;
  }
  .load_more{
    background: $primary;
    background: var(--primary, $primary);
    height: max-content;
    padding: 0rem 2rem;
    color: black;
    border-radius: 4rem;
    font-family: $lekton;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .article{
    transition: opacity 1s;
  }

  #posts_medium {
    @include sm{
      display: none;
    }

    .section_container {
      display: grid;
      grid-column: wide;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      @media screen and (max-width: $break-medium) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
      }
      .article {
        margin-bottom: 5rem;
      }
      .title {
        margin: 2.5rem 0 1rem;
      }

      .article:hover{
        .article_image{
          box-shadow: 0 0 0 11px $primary inset;
          box-shadow: 0 0 0 11px var(--primary, $primary) inset;
        }
        a{
          color: $primary;
          color: var(--primary, $primary);
        }
      }

      .article_image {
        transition: box-shadow 0.25s cubic-bezier(0, 0.34, 0.58, 1);
        box-shadow: 0 0 0 0 $primary inset;
        box-shadow: 0 0 0 0 var(--primary, $primary) inset;
        width: 100%;
        position: relative;
        padding-top: 75%;
        background-size: cover;
        display: block;

        .location {
          position: absolute;
          top: 0;
          left: 0;
          background-color: black;
          color: white;
          font-family: "Lekton", sans-serif;
          padding: 0 1rem;
          font-size: 1.7rem;
        }
      }
    }
    .read_more_stories {
      grid-column: wide;
      font-family: $lekton;
      padding-top: 7rem;
      padding-bottom: 15rem;

      a {
        background-color: $primary;
        background-color: var(--primary, $primary);
        color: black;
        font-weight: bold;
        padding: 1rem 4rem;
        text-decoration: none;
        font-size: 1.7rem;
      }
    }

  }

  #posts_small {
    @include md {
      display: none;
    }
    .article_container {
      margin-top:1rem;
    }
    .article {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem;
      text-decoration: none;

      .article_image {
        display: inline-block;
        background-size: cover;
        background-position: center;
        width: 10rem;
        height: 10rem;
        margin-right: 1rem;
        flex-grow: 0;
        flex-shrink: 0;
      }

      .metadata {
        color: white;
        height: 10rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .location {
          font-family: "Lekton", sans-serif;
          font-size: 1.2rem;
          margin-top: -.25rem;
          color: #989898;
        }

        .title a{
          font-size: 1.5rem;
          text-decoration: none;
          line-height: 1.7rem;
        }
      }

      a .read_more {
        color: white;
      }
    }
  }
}