@import '_breakpoints';
@import '_colors';

body{
  font-family: $cabin;
  font-size: 2rem;
}

.grid{
  display: grid;

  grid-template-columns:
          [full-start]
          minmax(1.6rem, 1fr)
          [wide-start]
          minmax(0, 30rem)
          [content-start]
          minmax(auto, 80rem)
          [content-end]
          minmax(0, 30rem)
          [wide-end]
          minmax(1.6rem, 1fr)
          [full-end];

  @media screen and (max-width: $break-small){
    grid-template-columns:
            [full-start]
            4rem
            [wide-start] 0
            [content-start]
            calc(100vw - 8rem)
            [content-end] 0
            [wide-end]
            4rem
            [full-end];
  }

}

.wide{
  grid-column: wide;
}

section.dark{
  color: white;
  background-color: $black;
}



header.navbar{
  font-size: 2rem;
  font-family: $cabin;
  background-color: $black;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $lekton;
    background-color: $black;
    color: $grey;
    grid-column: full;
    height: 5rem;
    padding: 2rem 3rem;
    @include md{
      padding: 2rem 0rem;
      grid-column: wide;
    }


    .brand {
      float: left;
      width: 5rem;
      height: 5rem;
      background-size: cover;
      background-image: url(/img/sb_logo.png);
    }

    ul.links{
      display: none;
      list-style: none;
      li{
        display: inline-block;
      }

      a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #8b8b8b;
        margin-left: 4.5rem;
        white-space:nowrap;
        @media screen and (max-width: 1100px) {
          margin-left: 1.7rem;
        }
        transition: margin-right .3s ease;

        &.active {
          color: white;
          border-bottom: 2px solid $yellow;
        }

        &.solid {
          font-weight: bold;
          padding: .3rem 1.4rem;
          background-color: $yellow;
          color: black;
          border-radius: 3rem;
        }
      }

    }
    .menu_toggle{
      display: block;
      background: none;
      cursor: pointer;
      border: none;
      height: 30px;

      .elements{
        display: block;
        width: 40px;
        height: 1px;
        background-color: white;
        position: relative;

        &:before, &:after{
          display: block;
          content: '';
          width: 40px;
          height: 1px;
          background-color: white;
          position: relative;
        }
        &:after{
          top: 8px;
        }
        &:before{
          top: -10px;
        }

      }

    }
  }

  @include md{
    nav {
      ul.links{
        display:  inline-block;
      }
      .menu_toggle{
        display: none;
      }
    }
  }

}








.footer {
  background-color: $yellow;
  padding-top: 10rem;
  padding-bottom: 5rem;

  .footer_navbar {
    font-family: $lekton;

    padding: 2rem 0;
    grid-column: wide;

    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

    @media screen and (max-width: $break-small) {
      grid-column: full;
      flex-direction: column;
    }

    .brand {
      display: flex;
      align-items: center;

      float: left;
      font-family: $cabin;
      font-size: 4rem;
      color: black;
      font-weight: bold;

      .logo{
        width: 7rem;
        height: 7rem;
        position: relative;
        top: -4px;

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/img/logo_black.png);
      }
      .tripleu:before {
        content: 'w';
        margin-right: -1.8rem;
      }
    }
    .links{
      float: right;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: $break-small) {
       flex-direction: column
      }
      a{
        text-decoration: none;
        font-weight: bold;
        font-family: $lekton;
        color: black;
        font-size: 2rem;

      }
    }
  }
}


/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}