/* CSS Mini Reset */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem; }

body, div, form, fieldset, legend, label {
  font-size: inherit;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.3rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal;
  margin: 0; }

img {
  border: 0; }

.clearfix {
  clear: both; }

#brand {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 5rem;
  height: 5rem;
  z-index: 10;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/sb_logo.png);
  border-radius: 5rem; }
  #brand.focus-visible:focus {
    background-color: #84848414;
    outline: none; }

.menu_toggle {
  border-radius: 5rem;
  height: 5rem;
  width: 5rem;
  display: block;
  background: none;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 10; }
  @media (min-width: 768px) {
    .menu_toggle {
      display: none; } }
  .menu_toggle:focus {
    outline: 0; }
  .menu_toggle.focus-visible:focus {
    background-color: #84848414; }
  .menu_toggle .elements {
    display: block;
    width: 40px;
    height: 1px;
    background-color: white;
    position: relative;
    transition: transform .2s ease, background-color .2s ease; }
    .menu_toggle .elements:before, .menu_toggle .elements:after {
      display: block;
      content: '';
      width: 40px;
      height: 1px;
      background-color: white;
      position: relative;
      transition: transform .2s ease, background-color .2s ease; }
    .menu_toggle .elements:after {
      top: 8px; }
    .menu_toggle .elements:before {
      top: -10px; }
  .menu_toggle.menu_open .elements {
    transform: rotate(-39deg) translate(-2px, -1px); }
    .menu_toggle.menu_open .elements:before {
      transform: rotate(0deg) translate(0px, 10px); }
    .menu_toggle.menu_open .elements:after {
      transform: rotate(75deg) translate(-8px, -3px); }

header.navbar {
  font-size: 2rem;
  font-family: "Cabin", sans-serif;
  background-color: #050505; }
  header.navbar #mobile_menu {
    position: relative;
    will-change: margin, transform;
    transition: margin 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975), opacity 0.55s cubic-bezier(0.385, 0.005, 0.215, 0.975), transform 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975);
    opacity: 1;
    margin-top: -33rem;
    z-index: 0;
    padding-top: 1em;
    grid-column: wide; }
    header.navbar #mobile_menu ul {
      list-style: none; }
      header.navbar #mobile_menu ul li {
        display: flex;
        justify-content: center; }
        header.navbar #mobile_menu ul li a {
          color: white;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          padding: 3px;
          line-height: 1.7rem;
          border-bottom: 1px solid white;
          margin-bottom: 1.3rem; }
          header.navbar #mobile_menu ul li a:focus {
            outline: 0;
            border-bottom-color: #F2CC24; }
    header.navbar #mobile_menu.menu_open {
      transition: margin 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975), opacity 0.55s cubic-bezier(0.385, 0.005, 0.215, 0.975), transform 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975);
      margin-top: -11rem;
      opacity: 1;
      transform: translateY(9rem); }
      @media (min-width: 768px) {
        header.navbar #mobile_menu.menu_open {
          margin-top: -35rem; } }
  header.navbar nav#top_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Lekton", sans-serif;
    background-color: #050505;
    color: #8b8b8b;
    grid-column: full;
    height: 5rem;
    padding: 2rem 3rem; }
    @media (min-width: 768px) {
      header.navbar nav#top_menu {
        padding: 2rem 0rem;
        grid-column: wide; } }
    header.navbar nav#top_menu ul.links {
      display: none;
      list-style: none; }
      @media (min-width: 768px) {
        header.navbar nav#top_menu ul.links {
          display: inline-block; } }
      header.navbar nav#top_menu ul.links li {
        display: inline-block; }
      header.navbar nav#top_menu ul.links a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #8b8b8b;
        margin-left: 4.5rem;
        white-space: nowrap;
        transition: margin-right .3s ease; }
        @media screen and (max-width: 1100px) {
          header.navbar nav#top_menu ul.links a {
            margin-left: 1.7rem; } }
        header.navbar nav#top_menu ul.links a.active {
          color: white;
          border-bottom: 2px solid #F2CC24; }
        header.navbar nav#top_menu ul.links a.solid {
          font-weight: bold;
          padding: .3rem 1.4rem;
          background-color: #F2CC24;
          color: black;
          border-radius: 3rem; }

body {
  font-family: "Cabin", sans-serif;
  font-size: 2rem; }

.grid {
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [wide-start] minmax(0, 30rem) [content-start] minmax(auto, 80rem) [content-end] minmax(0, 30rem) [wide-end] minmax(4rem, 1fr) [full-end]; }
  @media screen and (max-width: 900px) {
    .grid {
      grid-template-columns: [full-start] 4rem [wide-start] 0 [content-start] calc(100% - 8rem) [content-end] 0 [wide-end] 4rem [full-end]; } }

.wide {
  grid-column: wide; }

section.dark {
  color: white;
  background-color: #050505; }

.footer {
  background-color: #F2CC24;
  padding-top: 10rem;
  padding-bottom: 5rem; }
  .footer .footer_navbar {
    font-family: "Lekton", sans-serif;
    padding: 2rem 0;
    grid-column: wide;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 900px) {
      .footer .footer_navbar {
        grid-column: full;
        flex-direction: column; } }
    .footer .footer_navbar .brand {
      display: flex;
      align-items: center;
      float: left;
      font-family: "Cabin", sans-serif;
      font-size: 4rem;
      color: black;
      font-weight: bold; }
      .footer .footer_navbar .brand .logo {
        width: 7rem;
        height: 7rem;
        position: relative;
        top: -4px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/img/logo_black.png); }
      .footer .footer_navbar .brand .tripleu:before {
        content: 'w';
        margin-right: -1.8rem; }
    .footer .footer_navbar .links {
      float: right;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media screen and (max-width: 900px) {
        .footer .footer_navbar .links {
          flex-direction: column; } }
      .footer .footer_navbar .links a {
        text-decoration: none;
        font-weight: bold;
        font-family: "Lekton", sans-serif;
        color: black;
        font-size: 2rem; }

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.head {
  height: 90vh;
  max-height: 100rem;
  min-height: 50rem;
  font-size: 2rem;
  font-family: "Cabin", sans-serif;
  position: relative; }
  .head .recent_post {
    grid-column: content; }
  .head .read_more {
    background-color: black;
    height: 10rem; }
  .head .image_block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90vh;
    max-height: 100rem;
    min-height: 50rem;
    border-left: 3px solid #F2CC24;
    overflow: hidden;
    z-index: 0; }
    .head .image_block .vertical {
      display: block; }
    .head .image_block .horizontal {
      display: none; }
    .head .image_block img {
      min-height: 90vh;
      filter: brightness(0.7); }
  .head .title_block {
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 55rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }
    .head .title_block h2 {
      display: none; }
    .head .title_block h1 {
      font-family: "Cabin", sans-serif;
      font-size: 4.5rem;
      font-weight: bold; }
    .head .title_block > div {
      position: relative;
      bottom: 12rem; }
  .head .read_post {
    background-color: #F2CC24;
    color: #050505;
    width: min-content;
    white-space: nowrap;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-family: "Lekton", sans-serif;
    font-weight: bold;
    display: block;
    text-decoration: none; }

@media (min-width: 768px) {
  .head {
    height: auto;
    min-height: initial;
    max-height: initial;
    background-color: #050505; }
    .head .recent_post {
      grid-column: wide;
      display: grid;
      grid-template-columns: minmax(33rem, 1fr) 5fr;
      margin-top: 7rem;
      margin-bottom: 7rem; }
      .head .recent_post .title_block {
        margin: 0 5rem; }
        .head .recent_post .title_block h2 {
          display: block;
          color: #F2CC24;
          font-family: "Lekton", sans-serif;
          font-size: 1.8rem;
          background: none; }
        .head .recent_post .title_block > div {
          position: initial;
          bottom: initial; }
      .head .recent_post .image_block {
        position: relative;
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;
        height: initial;
        z-index: 1;
        border-left: none; }
        .head .recent_post .image_block .vertical {
          display: none; }
        .head .recent_post .image_block .horizontal {
          display: block; }
      .head .recent_post .image_block, .head .recent_post .title_block {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .head .recent_post .image_block img, .head .recent_post .title_block img {
          min-height: initial;
          filter: brightness(1);
          align-self: flex-end;
          max-width: 100%; } }

@media (min-width: 992px) {
  .head .recent_post {
    grid-template-columns: minmax(45rem, 1fr) 5fr; }
    .head .recent_post .title_block {
      margin: 0 6rem 0 0; } }

.heading {
  grid-column: wide; }
  .heading h2 {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    margin: 3em 0 6rem;
    font-size: 3.5rem; }

section.stories .read_more {
  margin-bottom: 5rem; }
  section.stories .read_more a {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Cabin", sans-serif;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    transition: background-color .2s ease; }
    section.stories .read_more a:hover {
      background-color: rgba(0, 0, 0, 0.1); }

section.stories .featured_story {
  grid-column: wide;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 3rem; }
  @media (min-width: 768px) {
    section.stories .featured_story {
      grid-template-columns: 3fr 5fr; } }
  section.stories .featured_story .title {
    grid-row: 2;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Cabin", sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      section.stories .featured_story .title {
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Cabin", sans-serif;
        font-size: 3rem;
        font-weight: bold;
        padding: 2rem 0; } }
  section.stories .featured_story .metadata {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: initial; }
  section.stories .featured_story .metadata {
    font-family: "Lekton", sans-serif; }
  section.stories .featured_story .image {
    background-size: cover;
    grid-row: 1;
    padding-top: 56.25%; }
    @media (min-width: 768px) {
      section.stories .featured_story .image {
        grid-row: 1; } }

section.stories .more_stories {
  grid-column: wide;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem; }
  @media (min-width: 768px) {
    section.stories .more_stories {
      grid-template-columns: 1fr 1fr; } }
  section.stories .more_stories .title {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Cabin", sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  section.stories .more_stories .metadata {
    font-family: "Lekton", sans-serif;
    margin-bottom: 1rem; }
  section.stories .more_stories .image {
    padding-top: 66%;
    background-size: cover; }

section.stories .read_more_stories {
  grid-column: wide;
  font-family: "Lekton", sans-serif;
  padding-top: 7rem;
  padding-bottom: 15rem; }
  section.stories .read_more_stories a {
    color: white;
    background-color: black;
    padding: 1rem 4rem;
    text-decoration: none;
    font-size: 1.7rem; }

section.posts .heading h2 {
  font-family: "Lekton", sans-serif;
  font-size: 2.7rem;
  margin: 9rem 0 2rem;
  font-weight: normal; }

section.posts .trail_log_intro {
  max-width: 80rem;
  font-size: 1.8rem;
  font-weight: 400; }

section.posts .trail_log_menu {
  padding-bottom: 8rem; }
  section.posts .trail_log_menu .filter_option {
    background-color: black;
    border: 3px solid #F2CC24;
    color: white;
    font-family: "Lekton", sans-serif;
    margin-right: 2rem;
    padding: 0 3rem;
    font-size: 1.7rem; }
    section.posts .trail_log_menu .filter_option.active {
      color: black;
      background-color: #F2CC24;
      font-weight: bold; }

section.posts .read_more_stories {
  grid-column: wide;
  margin-bottom: 4rem;
  margin-top: 2rem; }
  section.posts .read_more_stories .read_more_button {
    color: black;
    background-color: #F2CC24;
    font-weight: bold;
    border: 3px solid #F2CC24;
    text-decoration: none;
    font-family: "Lekton", sans-serif;
    margin-right: 2rem;
    padding: 0 3rem;
    font-size: 1.7rem; }

@media (max-width: 768px) {
  section.posts .trail_log_menu {
    display: none; }
  section.posts .recent_articles.md {
    display: none; }
  section.posts .recent_articles {
    display: grid;
    grid-column: wide; }
  section.posts .article {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    text-decoration: none; }
    section.posts .article .article_image {
      display: inline-block;
      background-size: cover;
      background-position: center;
      width: 10rem;
      height: 10rem;
      margin-right: 1rem;
      flex-grow: 0;
      flex-shrink: 0; }
    section.posts .article .metadata {
      color: white;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      section.posts .article .metadata .location {
        font-family: "Lekton", sans-serif;
        color: white;
        text-decoration: none;
        font-size: 1.3rem; }
      section.posts .article .metadata .title {
        color: white;
        text-decoration: none; }
    section.posts .article a .read_more {
      color: white; } }

@media (min-width: 768px) {
  section.posts .recent_articles {
    display: grid;
    grid-column: wide;
    grid-template-columns: 1fr; }
    section.posts .recent_articles .article_image {
      width: 30px;
      padding-top: 56.25%; }
  section.posts .recent_articles.sm {
    display: none; }
  section.posts .recent_articles {
    display: grid;
    grid-column: wide;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem; } }
  @media screen and (min-width: 768px) and (max-width: 1100px) {
    section.posts .recent_articles {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4rem; } }

@media (min-width: 768px) {
    section.posts .recent_articles .article {
      margin-bottom: 5rem; }
    section.posts .recent_articles .title {
      margin: 2.5rem 0 1rem; }
    section.posts .recent_articles .article_image {
      width: 100%;
      position: relative;
      padding-top: 56.25%;
      background-size: cover; }
      section.posts .recent_articles .article_image .location {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        color: white;
        font-family: "Lekton", sans-serif;
        padding: 0 1rem;
        font-size: 1.7rem; }
    section.posts .recent_articles .read_more {
      color: #F2CC24;
      padding-bottom: 2rem;
      font-size: 1.5rem; }
  section.posts .read_more_stories {
    grid-column: wide;
    font-family: "Lekton", sans-serif;
    padding-top: 7rem;
    padding-bottom: 15rem; }
    section.posts .read_more_stories a {
      background-color: #F2CC24;
      color: black;
      font-weight: bold;
      padding: 1rem 4rem;
      text-decoration: none;
      font-size: 1.7rem; } }

.share {
  font-family: "Cabin", sans-serif;
  background-color: #F2CC24; }
  .share h1 {
    margin-top: 10rem;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 5rem; }
  .share .cta {
    grid-column: wide;
    width: 50%;
    font-size: 2rem; }
    @media screen and (max-width: 900px) {
      .share .cta {
        width: 100%; } }
    .share .cta a {
      color: black; }
