@import 'vars';
.__home__ {
  section > header {
    grid-column: wide;
    margin: 6rem 0 5rem 0;
    border-top: 1px solid #999;
    padding-top: 1rem;
  }
  .head {
    height: auto;
    min-height: initial;
    max-height: initial;
    background-color: $deep_green;



    .recent_post {
      grid-column: wide;
      text-decoration: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: " title "
                           " image "
                           " description ";
      margin-top: 5rem;
      margin-bottom: 5rem;
      @include md(){
        grid-template-columns: minmax(60rem, 1fr) 5fr;
        // Todo: Check this out grid-template-columns: minmax(33rem, 1fr) 5fr;
        grid-template-areas: " title image "
                             " description image ";
        margin-top: 15rem;
        margin-bottom: 15rem;
      }
      .grid_title{
        grid-area: title;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

      }
      .grid_image{
        grid-area: image;
      }
      .grid_description{
        grid-area: description;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    p{
      letter-spacing: 0.07rem;
      color: #d8d8d8;
    }

    @include sm(){
      h1{
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 2.5rem;
      }
      .location{
        margin-bottom: 1.5rem;
      }
    }

    .image_block {
      background-size: cover;
      background-position: center center;
      padding-top: 66.6%;
      img {
        min-height: initial;
        filter: brightness(1);
        align-self: flex-end;
        max-width: 100%;
      }

    }

    .title_block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 5rem;
      @include sm(){
        grid-row: 2;
        margin: 0 2rem;
      }

      .location{
        font-weight: normal;
        color: #d8d8d8;
      }

      a{
        text-decoration: none;
      }

      @include md {
        max-width: 55rem;
      }

      .title_content {
        display: flex;
        flex-direction: column;
      }

      .description {
        margin-top: 1rem;
        p {
          font-size: 17px;
          line-height: 1.25em;
        }
      }
    }
    .location_block {
      margin-top: 10px;
    }
    .author_block {
      margin: .5rem 0 .5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      .author_image {
        display: inline-block;
        height: 4rem;
        width: 4rem;
        border-radius: 10rem;
        background-size: cover;
        background-position: center;
      }
      .info {
        margin-left: 1rem;
        display: inline-block;
        line-height: 1;
        font-size: 1.4rem;
        color: #d8d8d8;
        font-weight: normal;
        .author_name{
          font-weight: bold;
        }
      }
    }

  }


  @include lg {
    .head .recent_post {
      grid-template-columns: minmax(45rem, 1fr) 5fr;

      .title_block {
        margin: 0 6rem 0 0;
      }
    }
  }

  .heading {
    grid-column: wide;

    h2 {
      font-family: $cabin;
      font-weight: bold;
      margin: 3em 0 6rem;
      font-size: 3.5rem;
    }
  }

  section.call_to_action{
    background-color: $accent;
    &:before, &:after{
      content: '';
      background-image: url(/img/topo_pattern.svg);
      height: 2.5rem;
      background-size: 25rem;
      grid-column: full;
    }
    .cta_container{
      grid-column: wide;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10rem;
      padding-bottom: 10rem;
      @include sm(){
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }
    .fancy{
      font-family: $baskerville;
      font-style: italic;
    }
    .bold{
      font-family: $baskerville;
      font-size: 5rem;
      font-weight: bold;
      text-align: center;
      @include sm(){
        font-size: 4rem;
      }
    }
    .primary_button{
      margin-top: 3rem;
    }
  }
  section.stories {


    .story_grid{
      grid-column: wide;
      display: grid;
      column-gap: 2rem;
      row-gap: 2rem;
      grid-template-columns: 1fr;
      @include md(){
        grid-template-columns: 1fr 1fr;
      }
    }



    .more_stories {
      grid-column: wide;
      display: grid;
      column-gap: 2rem;
      grid-template-columns: 1fr;
      @include md {
        grid-template-columns: 1fr 1fr;
      }

    }

    .read_more_stories {
      grid-column: wide;
      padding-top: 7rem;
      padding-bottom: 7rem;
      display: flex;
      justify-content: center;
    }

  }

  section.posts {

    .read_more_stories {
      grid-column: wide;
      margin-bottom: 4rem;
      margin-top: 2rem;
      display: flex;
      justify-content: center;

      .read_more_button {
        color: black;
        background-color: var(--primary);
        font-weight: bold;
        border: 3px solid var(--primary);
        text-decoration: none;
        font-family: $lekton;
        margin-right: 2rem;
        padding: 0 3rem;
        font-size: 1.7rem;
      }
    }

    .trail_log_intro {
      max-width: 65rem;
      margin-bottom: 5rem;
    }


    @include sm {
      .recent_articles.md {
        display: none;
      }
      .article_list{
        grid-column: wide;
      }
    }


    @include md {
      .recent_articles {
        .article {
          margin-bottom: 5rem;
        }

        .title {
          margin: 2.5rem 0 1rem;
        }

        .article_image {
          width: 100%;
          position: relative;
          padding-top: 75%;
          background-size: cover;
          display: block;

          .location {
            position: absolute;
            top: 0;
            left: 0;
            background-color: black;
            color: $white;
            font-family: "Lekton", sans-serif;
            padding: 0 1rem;
            font-size: 1.7rem;
          }
        }
      }
      .read_more_stories {
        grid-column: wide;
        font-family: $lekton;
        padding-top: 0;
        padding-bottom: 7rem;
      }
    }
  }


}
