/* CSS Mini Reset */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem; }

body, div, form, fieldset, legend, label, blockquote {
  font-size: inherit;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.3rem; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal;
  margin: 0; }

img {
  border: 0; }

.clearfix {
  clear: both; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

h1, h1 > a {
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-decoration: none; }
  .large_text h1, .large_text h1 > a {
    font-size: 5rem;
    line-height: 4.5rem; }
  .small_text h1, .small_text h1 > a {
    font-size: 2.5rem;
    line-height: 2.5rem; }

h2, h2 > a {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-decoration: none; }
  h2.tight, h2 > a.tight {
    margin-top: 2.5rem;
    margin-bottom: 1rem; }
  h2 + figure, h2 > a + figure {
    margin-top: -2rem !important; }
  .large_text h2, .large_text h2 > a {
    font-size: 3.5rem;
    line-height: 3.5rem; }
  .small_text h2, .small_text h2 > a {
    font-size: 2rem;
    line-height: 2rem; }

h3, h3 > a {
  font-size: 2rem;
  letter-spacing: 0.3px;
  line-height: 2.5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .large_text h3, .large_text h3 > a {
    font-size: 3rem;
    line-height: 3rem; }
  .small_text h3, .small_text h3 > a {
    font-size: 1.5rem;
    line-height: 1.75rem; }

p {
  font-family: "Cabin", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  line-height: 2rem; }
  article p {
    font-family: "Cabin", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 3.8rem;
    letter-spacing: 0.6px; }
  .large_text p, .large_text article p {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 1.5px;
    word-spacing: 4px; }
  .small_text p {
    font-size: 1.3rem;
    line-height: 1.6rem; }

blockquote {
  font-family: "Lekton", sans-serif;
  font-size: 1.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.5px;
  text-align: center; }
  blockquote footer {
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2px; }
    .large_text blockquote footer {
      font-size: 2.5rem;
      line-height: 3rem; }
    .small_text blockquote footer {
      font-size: 1.3rem;
      line-height: 1.6rem; }
  .large_text blockquote {
    font-size: 2.5rem;
    line-height: 3rem; }
  .small_text blockquote {
    font-size: 1.3rem;
    line-height: 1.6rem; }

.caption, figcaption {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-family: "Lekton", sans-serif; }
  .large_text .caption, .large_text figcaption {
    font-size: 2.5rem;
    line-height: 3rem; }
  .small_text .caption, .small_text figcaption {
    font-size: 1.3rem;
    line-height: 1.6rem; }

a {
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  letter-spacing: 0.2px; }
  .dark a {
    color: white; }
  article a {
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.6px;
    font-size: 1.9rem;
    line-height: 3.8rem; }
    .large_text article a {
      font-size: 2.5rem;
      line-height: 3rem; }
    .small_text article a {
      font-size: 1.3rem;
      line-height: 1.6rem; }

a.primary_button {
  background-color: #F2CC24;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 100rem;
  white-space: nowrap; }
  .dark a.primary_button {
    color: #050505; }

.dark {
  background-color: black;
  color: white; }
  .dark a {
    color: white; }

/**
 * Author: Kevin Weber
 *
 * Follow me: @kevinweber (https://twitter.com/kevinweber)
 * Website: http://kevinw.de
 *
 * License: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
 */
i.arrow {
  display: inline-block;
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'     x='0px' y='0px' viewBox='0 0 31.49 31.49' style='' xml:space='preserve'%3E     %3Cpath fill='%23FFF' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111       C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587       c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z'/%3E     %3C/svg%3E") no-repeat; }
  i.arrow.primary {
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'     x='0px' y='0px' viewBox='0 0 31.49 31.49' style='' xml:space='preserve'%3E     %3Cpath fill='%23F2CC24' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111       C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587       c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z'/%3E     %3C/svg%3E") no-repeat; }
  i.arrow.disabled {
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'     x='0px' y='0px' viewBox='0 0 31.49 31.49' style='' xml:space='preserve'%3E     %3Cpath fill='%238b8b8b' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111       C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587       c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z'/%3E     %3C/svg%3E") no-repeat; }
  i.arrow.left {
    transform: scaleX(-1); }

.primary {
  color: #F2CC24 !important; }

.primary_bg {
  background-color: #F2CC24; }

.js-focus-visible *:focus:not(.focus-visible) {
  outline: 0 !important; }

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

input {
  font-family: "Cabin", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  line-height: 2rem; }

.input-container.search {
  background-color: #FFF;
  width: 25rem;
  border-radius: 40rem;
  border: 1px solid black; }
  .input-container.search:focus-within .icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24'   height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23F2CC24' d='M23.809   21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365   0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238   6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877   6.877c-3.793 0-6.877-3.085-6.877-6.877z'/%3E%3C/svg%3E") no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    background-size: 1.5rem; }
  .input-container.search label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem; }
    .input-container.search label .icon {
      display: inline-block;
      width: 3rem;
      height: 2rem;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24'   height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23050505' d='M23.809   21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365   0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238   6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877   6.877c-3.793 0-6.877-3.085-6.877-6.877z'/%3E%3C/svg%3E") no-repeat;
      background-position-y: center;
      background-position-x: 1rem;
      background-size: 1.5rem;
      flex: 0 1 auto; }
    .input-container.search label input {
      flex: 1;
      padding: 1rem;
      border: none;
      background-color: transparent !important;
      width: 100%; }
      .input-container.search label input:focus {
        outline: 0 !important; }

#brand {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 5rem;
  height: 5rem;
  z-index: 10;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/sb_logo.png);
  border-radius: 5rem; }
  #brand.focus-visible:focus {
    background-color: #84848414;
    outline: none; }

.menu_toggle {
  border-radius: 5rem;
  height: 5rem;
  width: 5rem;
  display: block;
  background: none;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  z-index: 10; }
  @media (min-width: 768px) {
    .menu_toggle {
      display: none; } }
  .menu_toggle:focus {
    outline: 0; }
  .menu_toggle.focus-visible:focus {
    background-color: #84848414; }
  .menu_toggle .elements {
    display: block;
    width: 40px;
    height: 2px;
    background-color: white;
    position: relative;
    transition: transform .2s ease, background-color .2s ease; }
    .menu_toggle .elements:before, .menu_toggle .elements:after {
      display: block;
      content: '';
      width: 40px;
      height: 2px;
      background-color: white;
      position: relative;
      transition: transform .2s ease, background-color .2s ease; }
    .menu_toggle .elements:after {
      top: 8px; }
    .menu_toggle .elements:before {
      top: -10px; }
  .menu_toggle.menu_open .elements {
    transform: rotate(-39deg) translate(-2px, -1px); }
    .menu_toggle.menu_open .elements:before {
      transform: rotate(0deg) translate(0px, 10px); }
    .menu_toggle.menu_open .elements:after {
      transform: rotate(75deg) translate(-8px, -3px); }

header.navbar {
  font-size: 2rem;
  font-family: "Cabin", sans-serif;
  background-color: #050505; }
  header.navbar #mobile_menu {
    position: relative;
    will-change: margin, transform;
    user-select: none;
    transition: margin 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975), opacity 0.55s cubic-bezier(0.385, 0.005, 0.215, 0.975), transform 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975);
    opacity: 1;
    margin-top: -33rem;
    z-index: 0;
    padding-top: 1em;
    grid-column: wide; }
    header.navbar #mobile_menu ul {
      list-style: none; }
      header.navbar #mobile_menu ul li {
        display: flex;
        justify-content: center; }
        header.navbar #mobile_menu ul li a {
          color: white;
          text-decoration: none;
          text-align: center;
          display: inline-block;
          padding: 3px;
          line-height: 1.7rem;
          border-bottom: 1px solid white;
          margin-bottom: 1.3rem; }
          header.navbar #mobile_menu ul li a:focus {
            outline: 0;
            border-bottom-color: #F2CC24; }
    header.navbar #mobile_menu.menu_open {
      transition: margin 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975), opacity 0.55s cubic-bezier(0.385, 0.005, 0.215, 0.975), transform 0.75s cubic-bezier(0.385, 0.005, 0.215, 0.975);
      margin-top: -11rem;
      opacity: 1;
      transform: translateY(9rem); }
      @media (min-width: 768px) {
        header.navbar #mobile_menu.menu_open {
          margin-top: -35rem; } }
  header.navbar nav#top_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Lekton", sans-serif;
    background-color: #050505;
    color: #8b8b8b;
    grid-column: full;
    height: 5rem;
    padding: 2rem 3rem; }
    @media (min-width: 768px) {
      header.navbar nav#top_menu {
        padding: 2rem 0;
        grid-column: wide; } }
    header.navbar nav#top_menu ul.links {
      display: none;
      list-style: none; }
      @media (min-width: 768px) {
        header.navbar nav#top_menu ul.links {
          display: inline-block; } }
      header.navbar nav#top_menu ul.links li {
        display: inline-block; }
      header.navbar nav#top_menu ul.links a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #8b8b8b;
        margin-left: 4.5rem;
        white-space: nowrap;
        transition: margin-right .3s ease; }
        @media screen and (max-width: 1100px) {
          header.navbar nav#top_menu ul.links a {
            margin-left: 1.7rem; } }
        header.navbar nav#top_menu ul.links a.active {
          color: white;
          border-bottom: 2px solid #F2CC24; }
        header.navbar nav#top_menu ul.links a.solid {
          font-weight: bold;
          padding: .3rem 1.4rem;
          background-color: #F2CC24;
          color: black;
          border-radius: 3rem; }

body {
  font-family: "Cabin", sans-serif;
  font-size: 2rem; }

.grid {
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [wide-start] minmax(0, 15rem) [content-start] minmax(auto, 80rem) [content-end] minmax(0, 15rem) [wide-end] minmax(4rem, 1fr) [full-end]; }
  @media screen and (max-width: 900px) {
    .grid {
      grid-template-columns: [full-start] 4rem [wide-start] 0 [content-start] calc(100% - 8rem) [content-end] 0 [wide-end] 4rem [full-end]; } }

.wide {
  grid-column: wide; }

section.page_footer {
  background-color: #050505;
  border-top: 0.6rem solid #F2CC24;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  section.page_footer footer {
    grid-column: wide; }
    section.page_footer footer .brand {
      display: flex;
      align-items: center;
      float: left;
      font-family: "Cabin", sans-serif;
      font-size: 2.5rem;
      color: #FFF;
      font-weight: bold; }
      section.page_footer footer .brand .logo {
        width: 5rem;
        height: 4rem;
        position: relative;
        top: -4px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/img/logo_white.png); }
      section.page_footer footer .brand .tripleu:before {
        content: 'w';
        margin-right: -0.43em; }
    section.page_footer footer .links {
      float: right;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media screen and (max-width: 900px) {
        section.page_footer footer .links {
          flex-direction: column; } }
      section.page_footer footer .links a {
        text-decoration: none;
        font-weight: bold;
        font-family: "Lekton", sans-serif;
        color: #FFF;
        font-size: 2rem; }

section.share {
  background-color: #FFF; }
  section.share .cta {
    margin-top: 7rem;
    margin-bottom: 7rem;
    padding-top: 2rem;
    grid-column: wide;
    width: 50%; }
    @media screen and (max-width: 900px) {
      section.share .cta {
        width: 100%; } }
    section.share .cta p {
      margin-bottom: 4rem;
      margin-top: 2.5rem; }

@media (max-width: 768px) {
  .md-only {
    display: none !important; } }

@media (min-width: 768px) {
  .sm-only {
    display: none !important; } }

.head {
  height: 90vh;
  max-height: 100rem;
  min-height: 50rem;
  position: relative; }
  .head .recent_post {
    grid-column: content; }
  .head .read_more {
    background-color: black;
    height: 10rem; }
  .head .image_block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90vh;
    max-height: 100rem;
    min-height: 50rem;
    border-left: 3px solid #F2CC24;
    overflow: hidden;
    z-index: 0; }
    .head .image_block .vertical {
      display: block; }
    .head .image_block .horizontal {
      display: none; }
    .head .image_block img {
      min-height: 90vh;
      filter: brightness(0.7); }
  .head .title_block {
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 55rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }
    .head .title_block .caption, .head .title_block .description {
      margin-top: 1rem; }
    .head .title_block > div {
      position: relative;
      bottom: 12rem; }
  .head .read_post {
    margin-top: 2rem;
    white-space: nowrap;
    display: inline-block; }

@media (min-width: 768px) {
  .head {
    height: auto;
    min-height: initial;
    max-height: initial;
    background-color: #050505; }
    .head .recent_post {
      grid-column: wide;
      display: grid;
      grid-template-columns: minmax(33rem, 1fr) 5fr;
      margin-top: 7rem;
      margin-bottom: 7rem; }
      .head .recent_post .title_block {
        margin: 0 5rem; }
        .head .recent_post .title_block h2 {
          display: block;
          background: none; }
        .head .recent_post .title_block > div {
          position: initial;
          bottom: initial; }
      .head .recent_post .image_block {
        position: relative;
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;
        height: initial;
        z-index: 1;
        border-left: none; }
        .head .recent_post .image_block .vertical {
          display: none; }
        .head .recent_post .image_block .horizontal {
          display: block; }
      .head .recent_post .image_block, .head .recent_post .title_block {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .head .recent_post .image_block img, .head .recent_post .title_block img {
          min-height: initial;
          filter: brightness(1);
          align-self: flex-end;
          max-width: 100%; } }

@media (min-width: 992px) {
  .head .recent_post {
    grid-template-columns: minmax(45rem, 1fr) 5fr; }
    .head .recent_post .title_block {
      margin: 0 6rem 0 0; } }

.heading {
  grid-column: wide; }
  .heading h2 {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    margin: 3em 0 6rem;
    font-size: 3.5rem; }

section.stories .read_more a {
  transition: background-color .2s ease; }
  section.stories .read_more a:hover {
    background-color: rgba(0, 0, 0, 0.1); }

section.stories .featured_story {
  grid-column: wide;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 3rem; }
  @media (min-width: 768px) {
    section.stories .featured_story {
      grid-template-columns: 3fr 5fr; } }
  section.stories .featured_story .title {
    grid-row: 2; }
    @media (min-width: 768px) {
      section.stories .featured_story .title {
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0; } }
  section.stories .featured_story .metadata {
    margin-bottom: 3rem; }
  section.stories .featured_story .metadata {
    font-family: "Lekton", sans-serif; }
  section.stories .featured_story .image {
    background-size: cover;
    grid-row: 1;
    padding-top: 56.25%; }
    @media (min-width: 768px) {
      section.stories .featured_story .image {
        grid-row: 1; } }

section.stories .more_stories {
  grid-column: wide;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    section.stories .more_stories {
      grid-template-columns: 1fr 1fr; } }
  section.stories .more_stories .metadata {
    font-family: "Lekton", sans-serif;
    margin-bottom: 1rem; }
  section.stories .more_stories .image {
    display: block;
    padding-top: 66%;
    background-size: cover;
    background-position: bottom; }

section.stories .read_more_stories {
  grid-column: wide;
  padding-top: 7rem;
  padding-bottom: 7rem; }

section.posts .read_more_stories {
  grid-column: wide;
  margin-bottom: 4rem;
  margin-top: 2rem; }
  section.posts .read_more_stories .read_more_button {
    color: black;
    background-color: #F2CC24;
    font-weight: bold;
    border: 3px solid #F2CC24;
    text-decoration: none;
    font-family: "Lekton", sans-serif;
    margin-right: 2rem;
    padding: 0 3rem;
    font-size: 1.7rem; }

section.posts .trail_log_intro {
  max-width: 65rem;
  margin-bottom: 5rem; }

@media (max-width: 768px) {
  section.posts .trail_log_menu {
    display: none; }
  section.posts .recent_articles.md {
    display: none; }
  section.posts .recent_articles {
    display: grid;
    grid-column: wide; }
  section.posts .article {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    text-decoration: none; }
    section.posts .article .article_image {
      display: inline-block;
      background-size: cover;
      background-position: center;
      width: 10rem;
      height: 10rem;
      margin-right: 1rem;
      flex-grow: 0;
      flex-shrink: 0; }
    section.posts .article .metadata {
      color: white;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      section.posts .article .metadata .location {
        font-family: "Lekton", sans-serif;
        color: white;
        text-decoration: none;
        font-size: 1.3rem; }
      section.posts .article .metadata .title {
        color: white;
        text-decoration: none; }
    section.posts .article a .read_more {
      color: white; } }

@media (min-width: 768px) {
  section.posts .recent_articles {
    display: grid;
    grid-column: wide;
    grid-template-columns: 1fr; }
    section.posts .recent_articles .article_image {
      width: 30px;
      padding-top: 56.25%; }
  section.posts .recent_articles.sm {
    display: none; }
  section.posts .recent_articles {
    display: grid;
    grid-column: wide;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem; } }
  @media screen and (min-width: 768px) and (max-width: 1100px) {
    section.posts .recent_articles {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4rem; } }

@media (min-width: 768px) {
    section.posts .recent_articles .article {
      margin-bottom: 5rem; }
    section.posts .recent_articles .title {
      margin: 2.5rem 0 1rem; }
    section.posts .recent_articles .article_image {
      width: 100%;
      position: relative;
      padding-top: 75%;
      background-size: cover;
      display: block; }
      section.posts .recent_articles .article_image .location {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        color: white;
        font-family: "Lekton", sans-serif;
        padding: 0 1rem;
        font-size: 1.7rem; }
    section.posts .recent_articles .read_more {
      color: #F2CC24;
      padding-bottom: 2rem;
      font-size: 1.5rem; }
  section.posts .read_more_stories {
    grid-column: wide;
    font-family: "Lekton", sans-serif;
    padding-top: 0;
    padding-bottom: 7rem; } }

section > header {
  grid-column: wide;
  margin: 6rem 0 5rem 0;
  border-top: 1px solid #999;
  padding-top: 1rem; }
