@import 'vars';
.__story__{

  .main{

    .content{
      background-color: $deep_green;
      color: $white;
      padding-top: 2rem;


      .description p{
        margin-top: 2rem;
        margin-bottom: 2rem;
        line-height: 2.4rem;
        color: scale_color($white, $alpha:-20%);
        @include md(){
          width: 50%;
        }
      }
      .metadata{
        margin-bottom: 4rem;
      }

    }
  }
}
