@import 'vars';
.__story__{
  hr{
    border-bottom: 1px solid white;
    border-top: none;
  }

  .main{

    .content{
      background-color: black;
      color: white;
      padding-top: 2rem;


      .description{
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include md(){
          width: 50%;
        }
      }
      .metadata{
        margin-bottom: 4rem;
      }

      .articleList{
        .article{
          display: flex;
          flex-direction: row;
          margin: 8rem auto;
          @include sm{
            margin: 4rem auto;
          }
          justify-content: left;

          .articleData{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
              margin-top:1rem;
              a{
                line-height:3.5rem;
              }
            }
          }

          .articleImage{
            width: 25rem;
            height: 15rem;
            background-color: white;
            background-size: cover;
            margin-right: 5rem;
          }

        }
        @include sm{
          .article{
            flex-direction: column;
            align-items:center;
            margin: 4rem auto;
            .articleData{
              align-items: center;
              h2{
                margin-top: 2rem;
                text-align: center;
              }
              .caption{
                text-align: center;
              }
            }
            .articleImage{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}