@import 'vars';
.__team__ {
  .head {
    .intro {
      grid-column: wide;
      margin-top: 7rem;
      margin-bottom: 7rem;

      .intro_text {
        max-width: 500px;
      }
    }
  }

  .main {
    .team {
      grid-column: wide;
    }

    .author_block {
      display: flex;
      flex-direction: row;
      margin-top: 5rem;
      margin-bottom: 5rem;

      .data {
        margin-top: 2rem;
        max-width: 300px;
        margin-left: 3rem;
      }
    }

    .jobs {
      padding: 0;

      li {
        display: inline-block;
        margin-right: 1px;
        font-family: "Cabin", sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        letter-spacing: .05rem;
        line-height: 2rem;

        &:not(:last-child):after {
          content: ' - ';
          margin-left: .5rem;
          margin-right: .5rem;
        }
      }
    }

    .social_links {
      padding: 0;

      li {
        display: inline-block;

        a {
          text-decoration: none;
          margin-right: 3rem;
        }
      }
    }
  }
}