{% include 'components/html_head.twig' with {'css': 'home', 'title':'Privacy Policy'} %}
{% include 'components/navbar.twig' %}

<section class="grid">
    <div class="content">

    </div>
</section>

{% include 'components/footer.twig' %}
