{% set entryQuery = craft.entries().section('article').site('*') %}
{% set entries = entryQuery.all() %}

{% include 'components/html_head.twig' with {'css': 'articles'} %}
{% include 'components/navbar.twig' %}

<body>
<main id="swup" class="__articles__">
    <div class="expando" id="top">
        <section class="posts dark grid">
            <div class="heading wide">
                <h1>Articles</h1>
            </div>
            <div class="wide">
                <p class="article_intro">
                    Most backpacking guides are bogged down with particulars and exacts. Instead of focusing on coordinates we focus on narrative.
                    Find what you can expect to see, feel, and even smell, on detailed wilderness journeys throughout the country.
                    Discover your next adventure through our community's wilderness experience.<br/>
                </p>
            </div>
            <div class="wide">
                <div id="trail_log_menu" class="trail_log_menu"></div>
                <div id="trail_log_submenu" class="trail_log_submenu"></div>
            </div>
        </section>

        <section class="posts dark grid" style="flex-grow: 1;" id="posts">

        </section>

        <section class="dark grid" id="back_to_top">
            <div class="scroll_to_top hidden">
                <a class="primary_button" href="#top" onclick="return scroll_to_top(event)">
                    <span>Back to top</span>
                </a>
            </div>
        </section>

    </div>
{% include 'components/footer.twig' %}
</main>
</body>


