{% set entryQuery = craft.entries().section('article') %}
{% set entries = entryQuery.all() %}

{% include 'components/html_head.twig' with {'css': 'articles'} %}
{% include 'components/navbar.twig' %}

<body>
<main id="swup" class="__articles__">
    <div class="expando">
        <section class="posts dark grid">
            <div class="heading wide">
                <h2>Articles</h2>
            </div>
            <div class="wide">
                <p class="trail_log_intro">
                    Connect with nature, get some fresh air, find yourself, and have fun. Take the extra step (or 10,000) and join us on one of the thousands of backcountry trails the country has to offer!
                </p>
            </div>
            <div class="wide">
                <div id="trail_log_menu" class="trail_log_menu"></div>
                <div id="trail_log_submenu" class="trail_log_submenu"></div>
            </div>
        </section>

        <section class="posts medium dark grid" style="flex-grow: 1" id="posts_medium">

        </section>
        <section class="posts small dark grid" style="flex-grow: 1"  id="posts_small">

        </section>
    </div>
{% include 'components/footer.twig' %}
</main>
</body>


