
{% set entryQuery = craft.entries().section('article') %}
{% set entries = entryQuery.all() %}


{% include 'components/html_head.twig' with {'css': 'articles'} %}

{% include 'components/navbar.twig' %}

<style>
    #trail_log_submenu button:last-child {
        margin-bottom: 5rem;
    }
    .pill_button{
        cursor: pointer;
        border-radius: 20px;
        background-color: black;
        border: 1px solid #F2CC2480;
        color: white;
        font-family: "Lekton", sans-serif;
        margin-right: 2rem;
        margin-bottom: 1rem;
        padding: .5rem 1.6rem;
        font-size: 1.5rem;
        font-weight: normal;
        transition: border-color .2s, background .1s linear .2s, color .1s linear .2s;
    }
    .pill_button.active{
        border: 1px solid #F2CC24;
        background: #F2CC24;
        font-weight: normal;
        color: black;
    }
    .pill_button_ripple{
        position: relative;
        overflow: hidden;
    }
    .pill_button_ripple .ripple{
        display: block;
        height: 200px;
        width: 200px;
        background: #F2CC24;
        position: absolute;
        top: -93px;
        left: -8px;
        opacity: 1;
        transform: scale(0);
        transition: transform .3s, border .3s, opacity .3s linear .2s;
        border-radius: 100%;
        pointer-events:none;
    }
    .pill_button.active .ripple{
        transform: scale(1);
        opacity: 0;
    }
    button{
        -webkit-tap-highlight-color: transparent;
    }

    .expando{
        display: flex;
        width: 100%;
        flex-direction: column;
        min-height:100vh;
    }
    .transparent{
        opacity: 0;
    }
    .article{
        transition: opacity 1s;
    }
</style>
<div class="expando">
<section class="posts dark grid">
    <div class="heading wide">
        <h2>Articles</h2>
    </div>
    <div class="wide">
        <p class="trail_log_intro">
            Connect with nature, get some fresh air, find yourself, and have fun. Take the extra step (or 10,000) and join us on one of the thousands of backcountry trails the country has to offer!
        </p>
    </div>
    <div class="wide">
        <div id="trail_log_menu" class="trail_log_menu"></div>
        <div id="trail_log_submenu" class="trail_log_submenu"></div>
    </div>
</section>

<section class="posts medium dark grid" style="flex-grow: 1" id="posts_medium">

</section>
<section class="posts small dark grid" style="flex-grow: 1"  id="posts_small">

</section>
</div>

{% include 'components/footer.twig' %}
<script src="/js/articles.js"></script>


