<head>
  <link rel="stylesheet" href="/css/test.css">
</head>
<body>
<div class="scene">
  <div class=left_panes>
    <div class="fold fold1">
      <div class="pane pane1"></div>
      <div class="fold fold2">
        <div class="pane pane2"></div>
        <div class="fold fold3">
          <div class="pane pane3"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right_panes" style="transform: rotateZ(180deg);">
    <div class="fold fold1">
      <div class="pane pane6"></div>
      <div class="fold fold2">
        <div class="pane pane5"></div>
        <div class="fold fold3">
          <div class="pane pane4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>