<head>
    <title>Switchbacks</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,700,700i|Lekton:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc9300">
    <meta name="apple-mobile-web-app-title" content="Switchbacks">
    <meta name="application-name" content="Switchbacks">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#000000">
</head>

<section class="navbar grid">
    <nav>
        <a href="/" class="brand"></a>
        <div class="links">
            <a href="/stories">Stories</a>
            <a href="/articles">Trail Log</a>
            <a href="#">Guidebook</a>
            <a href="#">Team</a>
            <a href="#" class="solid">Contact</a>
        </div>

        <div class="clearfix"></div>

    </nav>
</section>

<section class="head dark grid">
    {% set entryQuery = craft.entries().section('article').orderBy('postDate desc') %}
    {% set entry = entryQuery.one() %}
    <div class="recent_post">

        <div class="title_block">
            <div>
                {% if entry.place != "NA" %}
                <h2>
                    {{entry.place}}
                </h2>
                {% endif %}
                <h1>
                    {{entry.title}}
                </h1>
                <div class="description">
                    {{entry.description}}
                </div>
                <a class="read_post" href="{{entry.url}}">
                    Read Post
                </a>
            </div>

        </div>
        <div class="image_block">
            {% set webpImage = craft.imager.transformImage(entry.heroImage[0], { width: 800 }) %}
            <img src="{{webpImage.url}}"/>
        </div>
    </div>

</section>

<section class="stories light grid">
</section>

<section class="posts dark grid">
</section>

<section class="share grid">
    <div class="cta">
        <h1>Share your story</h1>
        <p>
            Want to share a story of your own? We would love to feature you!<br/>
            Shoot us an email or a privatemessage on Instagram and we'll work something out. <br/>
            For high resolution photos or anything else, please contact <a href="/author/alexander-moliski">Alex</a>.
        </p>
    </div>

</section>
<section class="footer grid">
    <nav class="footer_navbar">
        <div class="brand">
            <div class="logo"></div>
            <span class="wordmark">S<span class="tripleu">w</span>itchbacks</span>
        </div>
        <div class="links">
            <a href="/stories" class="active">Stories</a>
            <a href="/articles">Trail Log </a>
            <a href="#">Guidebook</a>
            <a href="#">Team</a>
            <a href="#">Contact</a>
        </div>
    </nav>
</section>