{% include 'components/html_head.twig' with {'css': 'style'} %}

<section class="style_guide">
    <div class="style_guide_container">
        <div class="light">
            <div class="style_entry" style="margin-bottom: 1rem;">
                <h1 style="margin-bottom: 0;">H1 - Libre Baskerville, Bold</h1>
                <p style="margin-top: 6px">35pt, Line 40</p>
            </div>

            <div class="style_entry">
                <div>
                    <h2 style="margin-top: 20px; margin-bottom: 0;">H2 - Libre Baskerville, <span>Regular</span></h2>
                    <p style="margin-top: 6px">25pt, Line 27</p>

                </div>
            </div>

            <div class="style_entry">
                <article style="margin-top: 2rem; margin-bottom: 0;">
                    <p style="margin-bottom: 0;">
                        Article - Cabin Regular
                    </p>
                </article>
                <p style="margin-top: -5px">
                    19pt, Line 38, Character 0.6
                </p>
            </div>
            <div class="style_entry">
                <p>
                    Body - Cabin Regular
                </p>
                <p style="margin-top: -12px">
                    15pt, Line 24, Character 0.5
                </p>

            </div>
            <div class="style_entry">
                <a href="#">Link - Lekton Bold</a>
                <p style="margin-top: -5px">
                    15pt, Line 20, Character 0.5
                </p>
            </div>
            <div class="style_entry">
                <a href="#" class="primary">Primary Link - Lekton Bold</a>
                <p style="margin-top: -5px">
                    15pt, Line 20, Character 0.5
                </p>
            </div>
            <div class="style_entry">
                <div class="caption">Caption - Lekton Regular</div>
                <p style="margin-top: -5px">
                    15pt, Line 20, Character 0.5
                </p>
            </div>
            <div class="style_entry">
                <blockquote class="quote" style="text-align: start">
                    Quote - Lekton Regular
                </blockquote>
                <p style="margin-top: -12px">
                    19pt, Line 38, Character 0.5
                </p>
            </div>
        </div>
        <div class="dark">
            <div class="style_entry" style="margin-bottom: 1rem;">
                <h1 style="margin-bottom: 0;">H1 - Libre Baskerville, Bold</h1>
                <p style="margin-top: 6px">35pt, Line 40</p>
            </div>

            <div class="style_entry">
                <div>
                    <h2 style="margin-top: 20px; margin-bottom: 0;">H2 - Libre Baskerville, <span>Regular</span></h2>
                    <p style="margin-top: 6px">25pt, Line 27</p>

                </div>
            </div>

            <div class="style_entry">
                <article style="margin-top: 2rem; margin-bottom: 0;">
                    <p style="margin-bottom: 0;">
                        Article - Cabin Regular
                    </p>
                </article>
                <p style="margin-top: -5px">
                    19pt, Line 38, Character 0.6
                </p>
            </div>
            <div class="style_entry">
                <p>
                    Body - Cabin Regular
                </p>
                <p style="margin-top: -12px">
                    15pt, Line 24, Character 0.5
                </p>

            </div>
            <div class="style_entry">
                <a href="#">Link - Lekton Bold</a>
                <p style="margin-top: -5px">
                    15pt, Line 20, Character 0.5
                </p>
            </div>
            <div class="style_entry">
                <a href="#" class="primary">Primary Link - Lekton Bold</a>
                <p style="margin-top: -5px">
                    15pt, Line 20, Character 0.5
                </p>
            </div>
            <div class="style_entry">
                <div class="caption">Caption - Lekton Regular</div>
                <p style="margin-top: -5px">
                    15pt, Line 20, Character 0.5
                </p>
            </div>
            <div class="style_entry">
                <blockquote class="quote" style="text-align: start">
                    Quote - Lekton Regular
                </blockquote>
                <p style="margin-top: -12px">
                    19pt, Line 38, Character 0.5
                </p>
            </div>
        </div>

    </div>

    <div class="dark_bg">

    </div>


</section>

<section class="preview">
    <header>
        <h1>Article Title</h1>
        <div class="caption">This is the article location</div>
        <a href="#">This is a link</a>
    </header>
    <article>
        <h1>Introduction</h1>
        <p>
            Solo trips are important personal learning experiences, but having an adventure with friends is
            almost always better. Every group should have an Enthusiast, an Expert, a Sandbag, a Realist, and
            sometimes a Newbie. Here is <a href="#">my beloved team</a>, with our titles and a description of
            the characters that I have come to love like brothers (except one of them actually is my brother).
        </p>

        <blockquote class="quote_text">
            There is a theory which states that if ever anyone discovers exactly what the Universe is for and why
            it is here, it will instantly disappear and be replaced by something even more bizarre and inexplicable.
            There is another theory which states that this has already happened.
            <footer>
                Douglas Adams, Hitchhiker's Guide to the Galaxy
            </footer>
        </blockquote>

        <p>
            Every amazing trip I have been on has been shared a shared experience, and we are hoping for many
            more. Without further adieu - here is the team!
        </p>

        <h2>New York, The Empire State</h2>
        <p>
            Times Square, Empire State Building, Broadway... those are all the types of things that come
            to mind when most people think of New York. It turns out there is much more to the Empire State than
            concrete and skyscrapers. A better description of the state would be: ancient, pristine, and wild.
        </p>
        <p>
            The Adirondacks are a dome-shaped mountain range in Northern New York State. Although the range resides
            in the presence of the great Appalachian Mountain Range, the Adirondacks are entirely separate. In fact,
            they are a completely different type of rock altogether.
        </p>

        <h2>New York, The Empire State but down here</h2>
        <p>
            Times Square, Empire State Building, Broadway... those are all the types of things that come
            to mind when most people think of New York. It turns out there is much more to the Empire State than
            concrete and skyscrapers. A better description of the state would be: ancient, pristine, and wild.
        </p>

        <blockquote class="quote_text">
            Don't quote me on that
            <footer>
                Adam
            </footer>
        </blockquote>
        <p>
            The Adirondacks are a dome-shaped mountain range in Northern New York State. Although the range resides
            in the presence of the great Appalachian Mountain Range, the Adirondacks are entirely separate. In fact,
            they are a completely different type of rock altogether.
        </p>
    </article>

</section>
