{% set article = craft.entries().site('*').id(entry.id).with([
  'heroImage',
  'articleAuthor'
]).one()%}


{% include 'components/html_head.twig' with {'css': 'stories', 'title':'stories'} %}
{% include 'components/navbar.twig' %}

<body>
<main id="swup" class="__guidebook_section__">

  <section class="head grid accent">

    <div class="guidebook_info">
      <div class="guidebook_title" >
        <h1 class="slide_transition" data-delay="0s">
          {{article.title}}
        </h1>
      </div>

      <div class="description slide_transition" data-delay=".25s">
          {{article.description ? article.description : ''}}
      </div>

      <div class="return slide_transition" data-delay=".5s">
        <a class="primary_button white" style="align-self: flex-start;" href="/guidebook">Back to the guidebooks</a>
      </div>

    </div>
    <div class="fancy_border"></div>
  </section>

      {% set articles = entry.children.with([
        'heroImage',
        'articleAuthor'
      ]).all()%}

      {%  for article in articles %}
      <section class="light story grid slide_transition" id="{{ article.slug }}" data-delay=".75s">
        <div class="content">
        <h1>{{ article }}</h1>
        {%  include 'components/render_article.twig' %}
        </div>
        <div class="back_to_top">
          <a class="primary_button accent" href="#top" onclick="return scroll_to_top(event)">
            <span>Back to top</span>
          </a>
        </div>
      </section>
      {% endfor %}
  <div style="height: 15rem; grid-column: content"> </div>



  {% include 'components/footer.twig' %}
</main>
</body>