<section class="share grid">
    <div class="cta">
        <h1>Share your story</h1>
        <p>
            Want to share a story of your own? We would love to feature you!<br/>
            Shoot us an email or a privatemessage on Instagram and we'll work something out. <br/>
            For high resolution photos or anything else, please contact <a href="/author/alexander-moliski">Alex</a>.
        </p>
        <a class="primary_button" href="/contact">Connect</a>
    </div>

</section>